* {
	font-family: 'PT Sans', sans-serif;
}
body {
	min-width: 100%;
	background-color: #ccffcc;
	margin: 0;
}
html, .site {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	min-height: 100vh;	
}
.site-content {
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
}
/*header*/
header	{
	margin-top: 50px;
	margin-bottom: 20px;	
}
h1	{
	margin: -120px auto 0 auto;
	font-size: 50px;
	text-align: center;
}
h2 {
	margin: 5px auto 0 auto;
	text-align: center;
}
#nav ul {
	list-style-type: none;
	padding: 20px 10px 0px 10px;
	margin-top: -60px;
	margin-left: 150px;
	background-color: #ff4575;
	width: 80px;
	text-align: center;
}
#nav li {
	padding: 7px 10px;
}
#nav a {
	color: #fff;
}
#triangle {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #ff4575;
	margin-left: 150px;
	margin-top: -16px;
}
a {
	text-decoration: none;	
}
#bio_photo img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: block;
	margin: 20px auto 0px auto;
}
/*projects*/
#view {
	width: 80px;
	height: 20px;
	padding: 10px;
	margin: 10px auto 10px auto;
	display: block;
	background-color: #ff4575;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}
#view:hover {
	background-color: #ccc;
}	
#projects {
	margin: 10px auto 0px auto;
	padding: 5px 0 5px 0;
	background-color: #000;
	text-align: center;
}
#projects p  {
	display: inline-block;
	margin: 0 auto;
	padding: 5px 7px 5px 7px;
}
#addProjects {
	display: none;
	margin: 0 auto;
	background-color: #000;
	text-align: center;
}
#addProjects p {
	display: inline-block;
	margin: 0 auto;
	padding: 5px 7px 5px 7px;
}
#projects img, #addProjects img {
	width: 350px;
}
main img:hover {
	opacity: 0.5;
}
h3 {
	margin: 0 auto;
	text-align: center;
}
/*about me, skills section*/
#about, #skills {
	width: 39%;
	display: inline-block;
	float: left;
	font-size: 18px;
} 
#about {	
	margin: 15px 1% 10px 10%;
}
#about a:hover {
	color: #fff;
}
#skills {
	margin: 15px 10% 10px 1%;
	text-align: center;
}
/*footer*/
#bottom {
	text-align: center;
	font-size: 12px;
}
#contact a , #about a {
	color: #000;
}
#contact li {
	display: inline-block;
	list-style-type: none;
	padding: 0 5px;
	margin: auto;
}
#contact ul {
	padding: 0;
}

/* Media Queries */
@media screen and (max-width: 800px) {

	#nav ul {
		margin-left: 5px;
		padding-left: 0;
		padding-right: 0;
		width: 70px;
	}
	#triangle {
		margin-left: 5px;
		border-left: 35px solid transparent;
		border-right: 35px solid transparent;
		border-top: 35px solid #ff4575;
	}
	h1 {
		margin: -160px auto 0 auto;		
		padding: 0;
		font-size: 150%;
	}
	h2 {
		margin: 0;
		padding: 0;
		font-size: 95%;
	}
	#bio_photo img {
		margin-top: 10px;
		margin-bottom: -20px;
		width: 160px;
		height: 160px;
	}
	#view {
		display: none;
	}
	#projects, #addProjects {
		display: block;
	}
	#projects img, #addProjects img {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	#about, #skills {
		width: 90%;
		margin: 0 5% 0 5%;	
	}
	h3 {
		margin: 5px 0 -15px 0;
	}
}